<br /> <br />
<div class="container  color-dark">
    <div class="col text-white">
      Un elément de la list
    </div>
    <div class="col text-white">
      Ma list d'élements ({{ nbItems }})
  </div>
</div>
<div class="container text-white color-light">
  <div class="col">
    <br />
   <form>
    <div class="form-group">
      <label  for="objectifText">Un nouvelle elément liste</label>
      <input [(ngModel)]="objectifText" type="text" class="form-control" name ="objectifText" id="objectifText" >
    </div>
    <p>{{ objectifText }}</p>
    <button *ngIf="!update" type="button" class="btn btn-lg btn-danger"
     (click)="ajoutItem()">
     {{ btnText }}
    </button>
    <button *ngIf="update" type="button" class="btn btn-lg btn-danger"
    (click)="updateElt(index)">
    {{ btnText }}
   </button>
   </form>
    
  </div>
  <div class="col text-white">
    <br />
    <ul *ngFor="let elt of objectifs; let i = index">

      <li class="life-container" >{{ elt }}
        <span (click)="deleteElt(i)" class="badge badge-pill badge-danger">Delete</span>
        <span (click)="editElt(i)" class="badge badge-pill badge-warning">Edit</span>
      </li>
    
    </ul>
  </div>
 
</div>
